@font-face {
  font-family: InterVariable;
  src: url(/InterVariable.ttf);
}

:root,
:global(body) {
  margin: 0;
  padding: 0;
  font-family: InterVariable, sans-serif;
  color: #fff;
  background: #000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
}

button {
  font-family: InterVariable, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
